@model StrongHelpOfficial.Models.AdminLogsViewModel

@{
    ViewData["Title"] = "System Administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/AdminDashboard.css" asp-append-version="true" />
}

<h2 class="fw-bold mb-1">System Logs</h2>
<p class="text-muted">
    View basic system activity logs
</p>