@{
    ViewData["Title"] = "My Applications";
    var userId = ViewData["UserID"];
    var roleName = ViewData["RoleName"];
    var email = ViewData["Email"];
}
<h2>My Applications</h2>
<p>Welcome, @email. Here are your loan applications:</p>

<!-- List of applications will go here -->
